<!-- Renders post date, title, and snippet of text. -->
<div class="py-2 mb-2 prose">
  <a class="no-underline h5 bold text-accent" title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}</a>
  <h2 class="h1 lh-condensed col-9 mt-0">
    <a class="link-primary" title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </h2>
  <p class="mb-3 h5">Теги: 
    {% for tag in post.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
      <a href="/tag/{{ tag_name }}" title="{{ tag_name }}">{{ tag_name }}&nbsp;</a>
    {% endfor %}
  </p>
  <p>{{ post.content | strip_html | truncatewords:30 }}
  <a class="no-underline h5 text-accent" title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">читать дальше</a>
  </p>
</div>
