<div id="share-bar">

    <h4>Поделиться статьей</h4>

    <div class="share-buttons">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}" nclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Поделиться на Facebook" class="link-primary" target="_blank" rel="noopener">
            <i class="fa fa-facebook-official share-button"> facebook</i>
        </a>

        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Поделиться на Twitter" class="link-primary" target="_blank" rel="noopener">
            <i class="fa fa-twitter share-button"> twitter</i>
        </a>

        <a href="https://vk.com/share.php?url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}" title="Поделиться в vkontakte" class="link-primary" target="_blank" rel="noopener">
            <i class="fa fa-vk share-button"> vkontakte</i>
        </a>

        <a  href="mailto:?subject={{ page.title }}&body=Check out this site {{ site.url }}{{ site.baseurl }}{{ page.url }}"
        title="Отправить по почте" >
        <i class="fa fa-envelope share-button"> email</i>
    </a>
    </div>

</div>